@font-face {
    font-family: "D-DIN";
    src: url("../assets/D-DINCondensed-Bold.otf");
}
@font-face {
    font-family: "sofiaRegular";
    src: url("../assets/SofiaProRegular.otf");
}
@font-face {
    font-family: "sofiaBold";
    src: url("../assets/SofiaProBold.otf");
}
@font-face {
    font-family: "sofiaLight";
    src: url("../assets/SofiaProLight.otf");
}
@font-face {
    font-family: "SuperiorBold";
    src: url("../assets/SuperiorTitleWeb-Bold.woff");
}
@font-face {
    font-family: "SuperiorLight";
    src: url("../assets/SuperiorTitleWeb-Light.woff");
}

:root {
    --blue: #323A7F;
    --green: #50D79B;
    --grey: #858585;
  }

body{
    margin: 0;
    background-color: #F5F5F3;
    font-family: "sofiaRegular";
    overflow-x: hidden;
}
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}

.green{
    color: var(--green);
}

.blue{
    color: var(--blue);
}
h2.blue{
    font-family: "superiorLight";
}

.self-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

section>div>div>h2{
    font-family: "superiorBold";
    font-size: 3.3em;
    width: 70%;
}

header{
    display: flex;
    font-family: "sofiaRegular";
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px;
    margin-bottom: 100px;
    padding: 0px 50px;
}

header nav{
    display: flex;
    width:70%;
    justify-content: space-between;
}
header nav ul:first-child li.active{
    position: relative;
}
header nav ul:first-child li.active::before{
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background: var(--green);
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -16px;
}
.green-letter{
    position: relative;
    font-family: "sofiaBold";
    color: var(--green);
    font-size: 20em;
}
.green-letter::after{
    content: "0";
    position: absolute;
    left: -90px;
    top: -180px;
    z-index: -1;
}
.green-letter::before{
    content: "3";
    position: absolute;
    left: 225px;
    
}

header ul{
    display: flex;
}
header ul:first-child a{
    color: var(--blue);
    padding: 0px 30px;
}
header :nth-child(2) a{
    color: var(--green);
    padding: 0px 20px;
}
header :nth-child(2) li:last-child a{
    color: var(--blue);
}

.double-column{
    display: flex;
    margin-bottom: 50px;
}

.double-column>div:first-child{
    width: 65%;
}
.double-column>div:nth-child(2){
    width: 35%;
}
.double-column p{
    color: var(--grey);
    width: 70%;
}

.references>.header{
    display: flex;
    justify-content: space-between;
    color: var(--green);
    text-transform: uppercase;
}
.references>.header>ul{
    display: flex;
    align-items: center;
}
.circle{
    background-color: var(--green);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    opacity: 0.5;
}
.circle.active{
    opacity: 1;
}

.references{
    padding: 0px 135px;
}

.header>ul>li{
    margin: 0px 10px;
    cursor: pointer;
}

.references>.body{
    display: flex;
}

.references>.body>div{
    padding: 50px;
    background-color: #FFFFFF;
    margin: 30px;
    flex: 0 0 400px;
    box-shadow: #00000038 0px 0px 20px 0px;
}
.references>.body>div>h3{
    margin: 0;
    font-size: 1.1em;
}
.references>.body>div>p{
    color: var(--grey);
    margin-bottom: 70px;
}
.references>.body>div>a{
    display: flex;
    align-items: center;
    color: black;
}
.references>.body>div>a::before{
    content: '';
    display: block;
    width: 26px;
    height: 12px;
    margin: 0px 10px;
    background-image: url("../assets/right-arrow-green.svg");
}

.references>.body>div:first-child{
    margin-left: 0;
}